<mat-form-field>
  <mat-select
    [formControl]="optionServerSideCtrl"
    (selectionChange)="selectOption($event.value)"
    [placeholder]="placeholder"
  >
    <mat-option>
      <ngx-mat-select-search
        [placeholderLabel]="'Texto a buscar'"
        noEntriesFoundLabel="No se encontraron resultados"
        [formControl]="optionServerSideFilteringCtrl"
        [searching]="searching"
      ></ngx-mat-select-search>
    </mat-option>
    @for (option of filteredServerSideOptions|async; track $index) {
    <mat-option [value]="option.value">{{ option.text }} </mat-option>
    }
  </mat-select>
</mat-form-field>
