<h2 mat-dialog-title>REGISTRAR AFILIADO</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <form [formGroup]="FormClient">
      <ng-template matStepLabel>AFILIADO</ng-template>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Nombre"
              formControlName="firstname"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Apellido paterno"
              formControlName="lastname"
              required
            />
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <input
              matInput
              placeholder="Apellido materno"
              formControlName="middlename"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <mat-form-field>
            <input type="number" matInput placeholder="CI" formControlName="dni" />
          </mat-form-field>
        </div>
        <div class="col-sm-4">
          <mat-form-field>
            <input
              type="number"
              matInput
              maxlength="7"
              placeholder="Telefono"
              formControlName="phone"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <server-mat-select-search
            placeholder="Buscar accion"
            [options]="matSelectOptions()"
            (keyupEvent)="searchActions($event)"
            (selectEvent)="selectAction($event)"
          ></server-mat-select-search>
        </div>
        <div class="col-12">
          <mat-list>
            @for (action of selectedActions(); track $index) {
            <mat-list-item>
              <mat-icon matListItemIcon>location_on</mat-icon>
              <div matListItemTitle>
                {{ action.code }} - {{ action.address }}
              </div>
              <div matListItemLine>
                Costo: {{ action.cost | currency : "Bs." }}
              </div>
            </mat-list-item>
            }@empty {
            <p class="text-center">SIN ACCIONES</p>
            }
            <mat-divider></mat-divider>
          </mat-list>
        </div>
      </div>
    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [disabled]="FormClient.invalid" (click)="save()">
    Guardar
  </button>
</mat-dialog-actions>
